In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/valazeinali/Desktop/Dartmouth/Spring 2021/2019NBA")
df.head()

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,GID,Last,First,First Last,Date,Team,Opp,H/A,GameID,GTime(ET),...,DD Change,YH Sal,YH Change,FD pos,DK pos,DD pos,YH pos,ADI,VMI,Unnamed: 37
0,5679,Eubanks,Drew,Drew Eubanks,20190410.0,sas,dal,H,20190410-dal-sas,20.0,...,NaN,10.0,0.0,4.0,45.0,NaN,4.0,61.59,1.68,NaN
1,5679,Eubanks,Drew,Drew Eubanks,20190407.0,sas,cle,A,20190407-sas-cle,15.0,...,NaN,10.0,0.0,4.0,45.0,NaN,4.0,63.74,-4.54,NaN
2,5679,Eubanks,Drew,Drew Eubanks,20190405.0,sas,was,A,20190405-sas-was,19.0,...,NaN,10.0,0.0,4.0,45.0,NaN,4.0,67.12,-11.14,NaN
3,5679,Eubanks,Drew,Drew Eubanks,20190403.0,sas,den,A,20190403-sas-den,21.0,...,NaN,10.0,0.0,4.0,45.0,NaN,4.0,43.79,20.29,NaN
4,5679,Eubanks,Drew,Drew Eubanks,20190402.0,sas,atl,H,20190402-atl-sas,20.5,...,NaN,10.0,0.0,4.0,45.0,NaN,4.0,64.20,-0.12,NaN

# Lets try a momentum start for just one player and then branch out to others. Our hypothesis is that players who are playing better than their average performance will continue to play better. Same idea as stocks. We will compute a moving average and try to model 1 step forward

In [3]:
df1 = df[df["GID"] == 4379] # Try to do momentum strat for Kyrie as an example
pd.set_option('display.max_columns', 500)
df1.head(10)

,GID,Last,First,First Last,Date,Team,Opp,H/A,GameID,GTime(ET),Team pts,Opp pts,Start,Minutes,GP,active,FDP,DKP,DDP,YHP,Stats,DoubleD,TripleD,FD Sal,FD Change,DK Sal,DK Change,DD Sal,DD Change,YH Sal,YH Change,FD pos,DK pos,DD pos,YH pos,ADI,VMI,Unnamed: 37
453,4379,Irving,Kyrie,Kyrie Irving,20190508.0,bos,mil,A,20190508-bos-mil,20.0,91.0,116.0,1.0,33.250000,1.0,1.0,17.7,18.75,15.50,17.7,15pt 1rb 1as 1st 3to 1trey 6-21fg 2-2ft,0.0,0.0,9800.0,400.0,8200.0,0.0,NaN,NaN,40.0,0.0,1.0,1.0,NaN,1.0,63.78,2.34,NaN
454,4379,Irving,Kyrie,Kyrie Irving,20190506.0,bos,mil,H,20190506-mil-bos,19.0,101.0,113.0,1.0,43.500000,1.0,1.0,47.2,49.50,46.50,47.2,23pt 6rb 10as 2st 4to 1trey 7-22fg 8-9ft,1.0,0.0,9400.0,-200.0,8200.0,-300.0,NaN,NaN,40.0,0.0,1.0,1.0,NaN,1.0,66.20,-0.08,NaN
455,4379,Irving,Kyrie,Kyrie Irving,20190503.0,bos,mil,H,20190503-mil-bos,20.0,116.0,123.0,1.0,41.566667,1.0,1.0,46.6,46.75,44.00,46.6,29pt 3rb 6as 3st 4to 2trey 8-22fg 11-12ft,0.0,0.0,9600.0,0.0,8500.0,100.0,NaN,NaN,40.0,-1.0,1.0,1.0,NaN,1.0,66.20,-0.81,NaN
456,4379,Irving,Kyrie,Kyrie Irving,20190430.0,bos,mil,A,20190430-bos-mil,20.0,102.0,123.0,1.0,30.900000,1.0,1.0,24.0,24.25,21.25,24.0,9pt 5rb 4as 1st 1bl 3to 1trey 4-18fg,0.0,0.0,9600.0,100.0,8400.0,100.0,NaN,NaN,41.0,0.0,1.0,1.0,NaN,1.0,63.78,0.57,NaN
457,4379,Irving,Kyrie,Kyrie Irving,20190428.0,bos,mil,A,20190428-bos-mil,13.0,112.0,90.0,1.0,33.150000,1.0,1.0,46.9,51.75,51.00,46.9,26pt 7rb 11as 4to 2trey 12-21fg,1.0,0.0,9500.0,-200.0,8300.0,-700.0,NaN,NaN,41.0,-2.0,1.0,1.0,NaN,1.0,63.78,0.56,NaN
458,4379,Irving,Kyrie,Kyrie Irving,20190421.0,bos,ind,A,20190421-bos-ind,13.0,110.0,106.0,1.0,37.116667,1.0,1.0,26.9,27.50,25.00,26.9,14pt 2rb 7as 1st 3to 4-13fg 6-7ft,0.0,0.0,9700.0,0.0,9000.0,100.0,NaN,NaN,43.0,0.0,1.0,1.0,NaN,1.0,64.20,0.74,NaN
459,4379,Irving,Kyrie,Kyrie Irving,20190419.0,bos,ind,A,20190419-bos-ind,20.5,104.0,96.0,1.0,37.450000,1.0,1.0,44.0,46.25,45.25,44.0,19pt 5rb 10as 1st 1bl 2to 3trey 7-19fg 2-2ft,1.0,0.0,9700.0,700.0,8900.0,600.0,NaN,NaN,43.0,1.0,1.0,1.0,NaN,1.0,61.78,4.89,NaN
460,4379,Irving,Kyrie,Kyrie Irving,20190417.0,bos,ind,H,20190417-ind-bos,19.0,99.0,91.0,1.0,39.333333,1.0,1.0,61.7,63.00,63.00,61.7,37pt 6rb 7as 1st 2bl 2to 6trey 15-26fg 1-2ft,0.0,0.0,9000.0,200.0,8300.0,200.0,NaN,NaN,42.0,0.0,1.0,1.0,NaN,1.0,67.30,-0.63,NaN
461,4379,Irving,Kyrie,Kyrie Irving,20190414.0,bos,ind,H,20190414-ind-bos,13.0,84.0,74.0,1.0,33.983333,1.0,1.0,39.5,40.25,38.50,39.5,20pt 5rb 7as 2st 3to 2trey 6-17fg 6-6ft,0.0,0.0,8800.0,0.0,8100.0,-300.0,NaN,NaN,42.0,0.0,1.0,1.0,NaN,1.0,66.34,-0.33,NaN
462,4379,Irving,Kyrie,Kyrie Irving,20190409.0,bos,was,A,20190409-bos-was,19.0,116.0,110.0,0.0,0.000000,0.0,0.0,0.0,0.00,0.00,0.0,NaN,0.0,0.0,8800.0,-100.0,8400.0,-300.0,NaN,NaN,42.0,0.0,1.0,1.0,NaN,1.0,64.47,1.77,NaN

In [4]:
kyrie = df1[["First  Last", "Date", "Team pts", "Minutes", "FDP", "DKP", "FD Sal", "DK Sal"]]
kyrie.head()

,First Last,Date,Team pts,Minutes,FDP,DKP,FD Sal,DK Sal
453,Kyrie Irving,20190508.0,91.0,33.250000,17.7,18.75,9800.0,8200.0
454,Kyrie Irving,20190506.0,101.0,43.500000,47.2,49.50,9400.0,8200.0
455,Kyrie Irving,20190503.0,116.0,41.566667,46.6,46.75,9600.0,8500.0
456,Kyrie Irving,20190430.0,102.0,30.900000,24.0,24.25,9600.0,8400.0
457,Kyrie Irving,20190428.0,112.0,33.150000,46.9,51.75,9500.0,8300.0

In [5]:
kyrie = kyrie.reindex(index=kyrie.index[::-1]) # reverse the order of the df to create appropriate prediction model
kyrie.head()

,First Last,Date,Team pts,Minutes,FDP,DKP,FD Sal,DK Sal
543,Kyrie Irving,20181016.0,105.0,29.000000,19.3,21.50,8400.0,7600.0
542,Kyrie Irving,20181019.0,101.0,35.933333,36.8,37.00,8000.0,6600.0
541,Kyrie Irving,20181020.0,103.0,32.100000,28.7,27.75,7800.0,7300.0
540,Kyrie Irving,20181022.0,90.0,34.016667,44.1,44.50,8000.0,7000.0
539,Kyrie Irving,20181025.0,101.0,33.550000,25.5,28.25,7700.0,7300.0

In [6]:
kyrie = kyrie.drop(kyrie[kyrie.Minutes < 1].index)

# We will create a moving average (6 game) for FDP, DKP, FD Sal, DK Sal. We will also create a salary/points variable to see when kyrie is overpriced vs underpriced.

In [7]:
kyrie["Salary/Point FDP"] = kyrie["FD Sal"] / kyrie["FDP"] # Fan Duel salary per point
kyrie["Salary/Point DKP"] = kyrie["DK Sal"] / kyrie["DKP"] # draft kings salary per point

kyrie.head()

,First Last,Date,Team pts,Minutes,FDP,DKP,FD Sal,DK Sal,Salary/Point FDP,Salary/Point DKP
543,Kyrie Irving,20181016.0,105.0,29.000000,19.3,21.50,8400.0,7600.0,435.233161,353.488372
542,Kyrie Irving,20181019.0,101.0,35.933333,36.8,37.00,8000.0,6600.0,217.391304,178.378378
541,Kyrie Irving,20181020.0,103.0,32.100000,28.7,27.75,7800.0,7300.0,271.777003,263.063063
540,Kyrie Irving,20181022.0,90.0,34.016667,44.1,44.50,8000.0,7000.0,181.405896,157.303371
539,Kyrie Irving,20181025.0,101.0,33.550000,25.5,28.25,7700.0,7300.0,301.960784,258.407080

In [8]:
# moving averages
kyrie['Salary/Point_FDP_SMA_6'] = kyrie["Salary/Point FDP"].rolling(window=6).mean()
kyrie['Salary/Point_DKP_SMA_6'] = kyrie["Salary/Point DKP"].rolling(window=6).mean()

kyrie.head(25)

,First Last,Date,Team pts,Minutes,FDP,DKP,FD Sal,DK Sal,Salary/Point FDP,Salary/Point DKP,Salary/Point_FDP_SMA_6,Salary/Point_DKP_SMA_6
543,Kyrie Irving,20181016.0,105.0,29.000000,19.3,21.50,8400.0,7600.0,435.233161,353.488372,NaN,NaN
542,Kyrie Irving,20181019.0,101.0,35.933333,36.8,37.00,8000.0,6600.0,217.391304,178.378378,NaN,NaN
541,Kyrie Irving,20181020.0,103.0,32.100000,28.7,27.75,7800.0,7300.0,271.777003,263.063063,NaN,NaN
540,Kyrie Irving,20181022.0,90.0,34.016667,44.1,44.50,8000.0,7000.0,181.405896,157.303371,NaN,NaN
539,Kyrie Irving,20181025.0,101.0,33.550000,25.5,28.25,7700.0,7300.0,301.960784,258.407080,NaN,NaN
538,Kyrie Irving,20181027.0,109.0,23.450000,22.9,22.75,7700.0,7100.0,336.244541,312.087912,290.668782,253.788029
537,Kyrie Irving,20181030.0,108.0,33.416667,45.5,47.75,7500.0,7000.0,164.835165,146.596859,245.602449,219.306110
536,Kyrie Irving,20181101.0,117.0,33.283333,49.1,50.25,7600.0,7700.0,154.786151,153.233831,235.168257,215.115353
535,Kyrie Irving,20181103.0,101.0,27.383333,29.7,32.50,7800.0,8000.0,262.626263,246.153846,233.643133,212.297150
534,Kyrie Irving,20181105.0,107.0,33.950000,54.5,53.75,7700.0,7700.0,141.284404,143.255814,226.956218,209.955890
533,Kyrie Irving,20181108.0,116.0,43.283333,65.4,66.25,8500.0,8000.0,129.969419,120.754717,198.290990,187.013830
531,Kyrie Irving,20181111.0,94.0,32.383333,44.4,42.50,8500.0,7600.0,191.441441,178.823529,174.157140,164.803099
530,Kyrie Irving,20181114.0,111.0,27.750000,39.7,39.00,8900.0,8000.0,224.181360,205.128205,184.048173,174.558324
529,Kyrie Irving,20181116.0,123.0,38.550000,70.9,71.50,8500.0,7700.0,119.887165,107.692308,178.231675,166.968070
528,Kyrie Irving,20181117.0,86.0,30.366667,36.1,35.50,8500.0,7700.0,235.457064,216.901408,173.703476,162.092664
527,Kyrie Irving,20181119.0,112.0,33.700000,53.5,54.75,8400.0,8400.0,157.009346,153.424658,176.324299,163.787471
526,Kyrie Irving,20181121.0,109.0,36.966667,58.7,58.50,9000.0,9000.0,153.321976,153.846154,180.216392,169.302710
525,Kyrie Irving,20181123.0,114.0,19.800000,23.3,25.00,9000.0,9100.0,386.266094,364.000000,212.687168,200.165455
524,Kyrie Irving,20181124.0,104.0,34.550000,38.0,37.75,9400.0,8700.0,247.368421,230.463576,216.551678,204.388017
523,Kyrie Irving,20181126.0,124.0,31.950000,56.0,58.25,9000.0,8700.0,160.714286,149.356223,223.356198,211.332003
522,Kyrie Irving,20181130.0,128.0,27.083333,37.8,41.50,8900.0,9300.0,235.449735,224.096386,223.354976,212.531166
521,Kyrie Irving,20181201.0,118.0,34.750000,34.1,37.25,9000.0,8700.0,263.929619,233.557047,241.175022,225.886564
520,Kyrie Irving,20181206.0,128.0,30.133333,39.8,41.50,9000.0,9000.0,226.130653,216.867470,253.309801,236.390117
519,Kyrie Irving,20181208.0,133.0,22.766667,24.3,26.00,9100.0,9000.0,374.485597,346.153846,251.346385,233.415758
517,Kyrie Irving,20181212.0,130.0,40.150000,51.1,54.25,8500.0,8500.0,166.340509,156.682028,237.841733,221.118833

In [9]:
# RSI momnetum 
def computeRSI (data, time_window):
    diff = data.diff(1).dropna()        # diff in one field(one day)

    #this preservers dimensions off diff values
    up_chg = 0 * diff
    down_chg = 0 * diff
    
    # up change is equal to the positive difference, otherwise equal to zero
    up_chg[diff > 0] = diff[ diff>0 ]
    
    # down change is equal to negative deifference, otherwise equal to zero
    down_chg[diff < 0] = diff[ diff < 0 ]
    
    # check pandas documentation for ewm
    # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html
    # values are related to exponential decay
    # we set com=time_window-1 so we get decay alpha=1/time_window
    up_chg_avg   = up_chg.ewm(com=time_window-1 , min_periods=time_window).mean()
    down_chg_avg = down_chg.ewm(com=time_window-1 , min_periods=time_window).mean()
    
    rs = abs(up_chg_avg/down_chg_avg)
    rsi = 100 - 100/(1+rs)
    return rsi

In [10]:
kyrie['6D_RSI'] = computeRSI(kyrie['Salary/Point FDP'], 5) 
kyrie['6D_RSI'] = computeRSI(kyrie['Salary/Point DKP'], 5)

In [11]:
kyrie.head(20)

,First Last,Date,Team pts,Minutes,FDP,DKP,FD Sal,DK Sal,Salary/Point FDP,Salary/Point DKP,Salary/Point_FDP_SMA_6,Salary/Point_DKP_SMA_6,6D_RSI
543,Kyrie Irving,20181016.0,105.0,29.000000,19.3,21.50,8400.0,7600.0,435.233161,353.488372,NaN,NaN,NaN
542,Kyrie Irving,20181019.0,101.0,35.933333,36.8,37.00,8000.0,6600.0,217.391304,178.378378,NaN,NaN,NaN
541,Kyrie Irving,20181020.0,103.0,32.100000,28.7,27.75,7800.0,7300.0,271.777003,263.063063,NaN,NaN,NaN
540,Kyrie Irving,20181022.0,90.0,34.016667,44.1,44.50,8000.0,7000.0,181.405896,157.303371,NaN,NaN,NaN
539,Kyrie Irving,20181025.0,101.0,33.550000,25.5,28.25,7700.0,7300.0,301.960784,258.407080,NaN,NaN,NaN
538,Kyrie Irving,20181027.0,109.0,23.450000,22.9,22.75,7700.0,7100.0,336.244541,312.087912,290.668782,253.788029,56.067920
537,Kyrie Irving,20181030.0,108.0,33.416667,45.5,47.75,7500.0,7000.0,164.835165,146.596859,245.602449,219.306110,33.941860
536,Kyrie Irving,20181101.0,117.0,33.283333,49.1,50.25,7600.0,7700.0,154.786151,153.233831,235.168257,215.115353,35.223345
535,Kyrie Irving,20181103.0,101.0,27.383333,29.7,32.50,7800.0,8000.0,262.626263,246.153846,233.643133,212.297150,51.641079
534,Kyrie Irving,20181105.0,107.0,33.950000,54.5,53.75,7700.0,7700.0,141.284404,143.255814,226.956218,209.955890,38.229015
533,Kyrie Irving,20181108.0,116.0,43.283333,65.4,66.25,8500.0,8000.0,129.969419,120.754717,198.290990,187.013830,35.694972
531,Kyrie Irving,20181111.0,94.0,32.383333,44.4,42.50,8500.0,7600.0,191.441441,178.823529,174.157140,164.803099,47.023069
530,Kyrie Irving,20181114.0,111.0,27.750000,39.7,39.00,8900.0,8000.0,224.181360,205.128205,184.048173,174.558324,51.828196
529,Kyrie Irving,20181116.0,123.0,38.550000,70.9,71.50,8500.0,7700.0,119.887165,107.692308,178.231675,166.968070,36.499602
528,Kyrie Irving,20181117.0,86.0,30.366667,36.1,35.50,8500.0,7700.0,235.457064,216.901408,173.703476,162.092664,55.103337
527,Kyrie Irving,20181119.0,112.0,33.700000,53.5,54.75,8400.0,8400.0,157.009346,153.424658,176.324299,163.787471,45.432644
526,Kyrie Irving,20181121.0,109.0,36.966667,58.7,58.50,9000.0,9000.0,153.321976,153.846154,180.216392,169.302710,45.512017
525,Kyrie Irving,20181123.0,114.0,19.800000,23.3,25.00,9000.0,9100.0,386.266094,364.000000,212.687168,200.165455,71.420588
524,Kyrie Irving,20181124.0,104.0,34.550000,38.0,37.75,9400.0,8700.0,247.368421,230.463576,216.551678,204.388017,51.841492
523,Kyrie Irving,20181126.0,124.0,31.950000,56.0,58.25,9000.0,8700.0,160.714286,149.356223,223.356198,211.332003,42.910439

# BUY WHEN RSI CROSSES OVER 50 for outperformance for next game

In [12]:
# lets test the results!
kyrie["FDP Change"] = kyrie["FDP"].pct_change() * 100;
kyrie["DKP Change"] = kyrie["DKP"].pct_change() * 100;

kyrie.head(20)

,First Last,Date,Team pts,Minutes,FDP,DKP,FD Sal,DK Sal,Salary/Point FDP,Salary/Point DKP,Salary/Point_FDP_SMA_6,Salary/Point_DKP_SMA_6,6D_RSI,FDP Change,DKP Change
543,Kyrie Irving,20181016.0,105.0,29.000000,19.3,21.50,8400.0,7600.0,435.233161,353.488372,NaN,NaN,NaN,NaN,NaN
542,Kyrie Irving,20181019.0,101.0,35.933333,36.8,37.00,8000.0,6600.0,217.391304,178.378378,NaN,NaN,NaN,90.673575,72.093023
541,Kyrie Irving,20181020.0,103.0,32.100000,28.7,27.75,7800.0,7300.0,271.777003,263.063063,NaN,NaN,NaN,-22.010870,-25.000000
540,Kyrie Irving,20181022.0,90.0,34.016667,44.1,44.50,8000.0,7000.0,181.405896,157.303371,NaN,NaN,NaN,53.658537,60.360360
539,Kyrie Irving,20181025.0,101.0,33.550000,25.5,28.25,7700.0,7300.0,301.960784,258.407080,NaN,NaN,NaN,-42.176871,-36.516854
538,Kyrie Irving,20181027.0,109.0,23.450000,22.9,22.75,7700.0,7100.0,336.244541,312.087912,290.668782,253.788029,56.067920,-10.196078,-19.469027
537,Kyrie Irving,20181030.0,108.0,33.416667,45.5,47.75,7500.0,7000.0,164.835165,146.596859,245.602449,219.306110,33.941860,98.689956,109.890110
536,Kyrie Irving,20181101.0,117.0,33.283333,49.1,50.25,7600.0,7700.0,154.786151,153.233831,235.168257,215.115353,35.223345,7.912088,5.235602
535,Kyrie Irving,20181103.0,101.0,27.383333,29.7,32.50,7800.0,8000.0,262.626263,246.153846,233.643133,212.297150,51.641079,-39.511202,-35.323383
534,Kyrie Irving,20181105.0,107.0,33.950000,54.5,53.75,7700.0,7700.0,141.284404,143.255814,226.956218,209.955890,38.229015,83.501684,65.384615
533,Kyrie Irving,20181108.0,116.0,43.283333,65.4,66.25,8500.0,8000.0,129.969419,120.754717,198.290990,187.013830,35.694972,20.000000,23.255814
531,Kyrie Irving,20181111.0,94.0,32.383333,44.4,42.50,8500.0,7600.0,191.441441,178.823529,174.157140,164.803099,47.023069,-32.110092,-35.849057
530,Kyrie Irving,20181114.0,111.0,27.750000,39.7,39.00,8900.0,8000.0,224.181360,205.128205,184.048173,174.558324,51.828196,-10.585586,-8.235294
529,Kyrie Irving,20181116.0,123.0,38.550000,70.9,71.50,8500.0,7700.0,119.887165,107.692308,178.231675,166.968070,36.499602,78.589421,83.333333
528,Kyrie Irving,20181117.0,86.0,30.366667,36.1,35.50,8500.0,7700.0,235.457064,216.901408,173.703476,162.092664,55.103337,-49.083216,-50.349650
527,Kyrie Irving,20181119.0,112.0,33.700000,53.5,54.75,8400.0,8400.0,157.009346,153.424658,176.324299,163.787471,45.432644,48.199446,54.225352
526,Kyrie Irving,20181121.0,109.0,36.966667,58.7,58.50,9000.0,9000.0,153.321976,153.846154,180.216392,169.302710,45.512017,9.719626,6.849315
525,Kyrie Irving,20181123.0,114.0,19.800000,23.3,25.00,9000.0,9100.0,386.266094,364.000000,212.687168,200.165455,71.420588,-60.306644,-57.264957
524,Kyrie Irving,20181124.0,104.0,34.550000,38.0,37.75,9400.0,8700.0,247.368421,230.463576,216.551678,204.388017,51.841492,63.090129,51.000000
523,Kyrie Irving,20181126.0,124.0,31.950000,56.0,58.25,9000.0,8700.0,160.714286,149.356223,223.356198,211.332003,42.910439,47.368421,54.304636

 # Algo: If todays RSI is >= 50 buy the player for their next game. This is a momentum strat.

In [13]:
final_result = kyrie[["First  Last", "Date", "FDP", "DKP", "6D_RSI", "DKP Change", "FDP Change"]]
final_result.head(20)

      First  Last        Date   FDP    DKP     6D_RSI  DKP Change  FDP Change
543  Kyrie Irving  20181016.0  19.3  21.50        NaN         NaN         NaN
542  Kyrie Irving  20181019.0  36.8  37.00        NaN   72.093023   90.673575
541  Kyrie Irving  20181020.0  28.7  27.75        NaN  -25.000000  -22.010870
540  Kyrie Irving  20181022.0  44.1  44.50        NaN   60.360360   53.658537
539  Kyrie Irving  20181025.0  25.5  28.25        NaN  -36.516854  -42.176871
538  Kyrie Irving  20181027.0  22.9  22.75  56.067920  -19.469027  -10.196078
537  Kyrie Irving  20181030.0  45.5  47.75  33.941860  109.890110   98.689956
536  Kyrie Irving  20181101.0  49.1  50.25  35.223345    5.235602    7.912088
535  Kyrie Irving  20181103.0  29.7  32.50  51.641079  -35.323383  -39.511202
534  Kyrie Irving  20181105.0  54.5  53.75  38.229015   65.384615   83.501684
533  Kyrie Irving  20181108.0  65.4  66.25  35.694972   23.255814   20.000000
531  Kyrie Irving  20181111.0  44.4  42.50  47.023069  -35.849057  -32.110092
530  Kyrie Irving  20181114.0  39.7  39.00  51.828196   -8.235294  -10.585586
529  Kyrie Irving  20181116.0  70.9  71.50  36.499602   83.333333   78.589421
528  Kyrie Irving  20181117.0  36.1  35.50  55.103337  -50.349650  -49.083216
527  Kyrie Irving  20181119.0  53.5  54.75  45.432644   54.225352   48.199446
526  Kyrie Irving  20181121.0  58.7  58.50  45.512017    6.849315    9.719626
525  Kyrie Irving  20181123.0  23.3  25.00  71.420588  -57.264957  -60.306644
524  Kyrie Irving  20181124.0  38.0  37.75  51.841492   51.000000   63.090129
523  Kyrie Irving  20181126.0  56.0  58.25  42.910439   54.304636   47.368421

In [14]:
final_result['Signal'] = np.where(final_result['6D_RSI'] >= 50, 1, 0) # is RSI >= to 50? If yes, buy for tomorrows game
final_result.head(20)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,First Last,Date,FDP,DKP,6D_RSI,DKP Change,FDP Change,Signal
543,Kyrie Irving,20181016.0,19.3,21.50,NaN,NaN,NaN,0
542,Kyrie Irving,20181019.0,36.8,37.00,NaN,72.093023,90.673575,0
541,Kyrie Irving,20181020.0,28.7,27.75,NaN,-25.000000,-22.010870,0
540,Kyrie Irving,20181022.0,44.1,44.50,NaN,60.360360,53.658537,0
539,Kyrie Irving,20181025.0,25.5,28.25,NaN,-36.516854,-42.176871,0
538,Kyrie Irving,20181027.0,22.9,22.75,56.067920,-19.469027,-10.196078,1
537,Kyrie Irving,20181030.0,45.5,47.75,33.941860,109.890110,98.689956,0
536,Kyrie Irving,20181101.0,49.1,50.25,35.223345,5.235602,7.912088,0
535,Kyrie Irving,20181103.0,29.7,32.50,51.641079,-35.323383,-39.511202,1
534,Kyrie Irving,20181105.0,54.5,53.75,38.229015,65.384615,83.501684,0
533,Kyrie Irving,20181108.0,65.4,66.25,35.694972,23.255814,20.000000,0
531,Kyrie Irving,20181111.0,44.4,42.50,47.023069,-35.849057,-32.110092,0
530,Kyrie Irving,20181114.0,39.7,39.00,51.828196,-8.235294,-10.585586,1
529,Kyrie Irving,20181116.0,70.9,71.50,36.499602,83.333333,78.589421,0
528,Kyrie Irving,20181117.0,36.1,35.50,55.103337,-50.349650,-49.083216,1
527,Kyrie Irving,20181119.0,53.5,54.75,45.432644,54.225352,48.199446,0
526,Kyrie Irving,20181121.0,58.7,58.50,45.512017,6.849315,9.719626,0
525,Kyrie Irving,20181123.0,23.3,25.00,71.420588,-57.264957,-60.306644,1
524,Kyrie Irving,20181124.0,38.0,37.75,51.841492,51.000000,63.090129,1
523,Kyrie Irving,20181126.0,56.0,58.25,42.910439,54.304636,47.368421,0